body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #a86565;
}

input, button {
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
}

button {
  background: #111;
  color: rgb(245, 239, 239);
  border: none;
  cursor: pointer;
}
